.container{
	min-height:100%;
	min-width:100%;
	height:auto;
 	position:absolute;
 	
 	overflow: auto;
 	border:thin;
 	margin: 0px;
 }
.links{
	
	position: relative;
	width:30px;
	height:15px;
	
	min-width: 100%;
	border:3px solid green;
	border-radius:25px;
	right:2px;
	padding:2px;
	display:inline;	
}

.title_bar{
 position: relative;
 
 text-align: center;
 min-width: 100%;
 border:thick;
 }
 .titleheader{
   position:relative;
   min-width: 100%;
   min-height: 30px;
   border:thin;
  }
 
 
 body{
 margin:0px;
 }
 .contents{
 position:relative;
 width:900px;
 min-height:100%;
 height:auto;
 padding:20px;
 
 }
 .main_content{
 	left:300px;
	position:absolute;
	width:760px;
 	min-height:100%;
 	height:auto;
 	
 	text-align:justify;
 	padding:20px;
 	margin:3px;
 	border:2px solid green;
	border-radius:25px;
	overflow: auto;
 }
 
 .side_bar{
 
 position: absolute;
 width: 240px; 
 height: 150px; 
 height:auto;	
 
 float:left; 
 margin:3px;
 padding:20px;
  	border:2px solid green;
	border-radius:25px;
 left:10px;
 }
 
 
 input[type=text], input[type=password],label {
	display: block;
}
 
